body {
  padding: 0;
  margin: 0;
  background-color: #767676;
}

.piano-container {
  display: flex;
  position: relative;
  width: 90vw;
  height: 50vh;
  border-radius: 0.62vw;
  background-color: #24272e;
  box-shadow: 0 2vw 4vw rgba(7, 0, 53, 0.25);
}

.key.white {
  background-color: #ffffff;
  border-radius: 0 0 0.3vw 0.3vw;
  margin: 2px;
  cursor: pointer;
}

.key.black {
  background-color: #000000;
  border-radius: 0 0 0.3vw 0.3vw;
  cursor: pointer;
  z-index: 2;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.39);

}

.key:hover {
  filter: invert(0.1);
}

.black.key.selectedKey {
  background-color: #906e11;

}

.white.key.selectedKey {
  background-color: #ffbb00;
}