:root {
    --light0: rgb(240, 240, 240);
    --light1: rgb(220, 220, 220);
    --light2: rgb(208, 208, 208);
    --light3: rgb(143, 142, 142);
    --dark1: rgb(50, 57, 57);
    --dark2: rgb(35, 42, 42);
    --dark3: rgb(10, 20, 20);
    --padding: 10px;
    --rounding: 7px;
}

.outputWrapper {
    background-color: var(--dark1);
    flex: 1;
    padding: var(--padding);
    flex-basis: 0px;
    overflow-y: auto;
}

.progression {
    display: flex;
    justify-content: space-between;
    border-radius: var(--rounding);
}

.progressionInfo {
    background-color: var(--dark2);
    padding: var(--padding);
    background: linear-gradient(90deg, rgba(141, 141, 141, 0) 0%, var(--dark2) 100%);
    border-radius: 0 var(--rounding) var(--rounding) 0;
}
