:root {
    --light0: rgb(240, 240, 240);
    --light1: rgb(220, 220, 220);
    --light2: rgb(208, 208, 208);
    --light3: rgb(143, 142, 142);
    --dark1: rgb(50, 57, 57);
    --dark2: rgb(35, 42, 42);
    --dark3: rgb(10, 20, 20);
    --padding: 10px;
    --rounding: 7px;
}

.outputWrapper {
    height: 50vh;
    background-color: var(--dark1);
    flex: 1;
    padding: var(--padding);
}

.progression {
    display: flex;
    justify-content: space-between;
    border-radius: var(--rounding);
    padding: var(--padding);
}

.progressionInfo {
    background-color: var(--dark3);
    padding: var(--padding);
}