h1 {
    margin: 0;
    font-weight: 100;
}

.mainHeader {
    padding-top: var(--padding);
    background-color: var(--dark1);
    align-items: center;
    flex-direction: row;
}

.mainHeader svg {
    width: max(3vh, 2vw);
    fill: #fff
}