#settings {
    height: calc(100% - var(--padding) * 2);
    position: absolute;
    z-index: 5;
    width: calc(100% - var(--padding) * 2);
    box-sizing: border-box;
    box-shadow: 0px 0px 50px max(100vh, 100vw) #0000006a;
    border-radius: var(--rounding);
    padding: var(--padding);
    background-color: #000000c0;
    backdrop-filter: blur(15px);
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    flex-direction: column;
    gap: var(--padding)
}

#settings.visible {
    opacity: 1;
    visibility: visible;
}

.settingsHeader {
    font-size: x-large;
}

.settingsSubHeader {
    font-size: x-large;

}

.settingSubDescription {
    color: var(--light1);
}

.settingsContent {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.settingsItemContent {
    display: flex;
    gap: var(--padding);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.settingsItem {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--padding)
}

#closeSettings {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

}

#closeSettings.visible {
    opacity: 1;
    visibility: visible;
}









.settingsStringTuning {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 500px;
}

.settingsStringWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.settingsStringValue {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-align: left;
    /*     border: 1px, solid #fff;
 */
    border-right: var(--padding) var(--light0) solid;


}




.settingsStringSlider {
    flex: 9;
    -webkit-appearance: none;
    width: 100%;
    height: var(--padding);
    background: var(--light0);
    border-top-right-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
    opacity: 0.9;
    outline: none;
    transition: opacity .2s;
    margin: calc(var(--padding)/2) 0px;
    padding: 0;

}

.settingsStringSlider:hover {
    opacity: 1;
}

.settingsStringSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: #ffa600;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);

}

.settingsStringSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: #ffa600;
    cursor: pointer;
    border-radius: 100%;

    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);
}

.settingsStringSlider.string1 {
    height: calc(var(--padding)/1.5/1.0);
}

.settingsStringSlider.string2 {
    height: calc(var(--padding)/1.5/1.3);
}

.settingsStringSlider.string3 {
    height: calc(var(--padding)/1.5/1.6);
}

.settingsStringSlider.string4 {
    height: calc(var(--padding)/1.5/1.9);
}

.settingsStringSlider.string5 {
    height: calc(var(--padding)/1.5/2.2);
}

.settingsStringSlider.string6 {
    height: calc(var(--padding)/1.5/2.5);
}














select {
    background-color: var(--light0);
    color: #000000;
    border: 0;
    font-weight: 500;
    border-radius: var(--rounding);
    padding: calc(var(--padding) / 2) var(--padding);
    outline: none;
    font-size: large;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    position: relative;
}

/* Styling for the dropdown arrow */
select::-ms-expand {
    display: block;

}

select:focus {
    box-shadow: 0px 0px 10px var(--accent1);
}

/* Change the background color of selected option */
select option:checked {
    background-color: var(--light0);
    color: #000000;
    /* Optional: Change text color for selected option */
}


/* Additional styling for dropdown options */
select option {
    background-color: var(--light0);
    color: #000000;
}


@media only screen and (max-width: 1200px) {}





.settingsFretSliderWrapper {
    position: relative;
    display: flex;

}

.settingsFretBar {
    position: absolute;
    height: 100%;
    width: var(--padding);
    background-color: var(--light0);
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index:3
}

.settingsFretBar.bar2 {
    left: 0%
}

.settingsFretBar.bar2 {
    left: 20%
}

.settingsFretBar.bar3 {
    left: 40%
}

.settingsFretBar.bar4 {
    left: 60%
}

.settingsFretBar.bar5 {
    left: 80%
}

.settingsFretBar.bar6 {
    left: 100%
}




#settingsFretSlider {
    -webkit-appearance: none;
    width: 100%;
    height: calc(var(--padding)*5);
    background: var(--dark0);
    opacity: 0.9;
    outline: none;
    transition: opacity .2s;
    margin-left: calc(var(--padding)*1.5);
    margin-right: calc(var(--padding)*1.5);
    box-shadow: calc(var(--padding)*1.5) 0px 0px var(--dark0),calc(var(--padding)*-1.5) 0px 0px var(--dark0);
}

#settingsFretSlider:hover {
    opacity: 1;
}

#settingsFretSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: #ffa600;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);

}

#settingsFretSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: #ffa600;
    cursor: pointer;
    border-radius: 100%;

    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);
}