

#soundQualitySlider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--padding);
    background: var(--light1);
    border-radius: var(--rounding);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:  calc(var(--padding)/2) 0px;
    padding: 0;
    border: 0;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);

}

#soundQualitySlider:hover {
    opacity: 1;
}

#soundQualitySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: var(--accent1);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);

}

#soundQualitySlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: var(--accent1);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);
}