.slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--padding);
    background: var(--light2);
    border-radius: var(--rounding);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: calc(var(--padding)/1) 0px;
    padding: 0;
    border: 0;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);
    transition: 0.2s;
}

.slider:hover {
    filter: contrast(1.5);
    box-shadow: 0px 0px 20px hwb(from var(--accent1) h w b / 0.1);

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2.5*var(--padding));
    width: calc(2.5*var(--padding));
    background: var(--accent1);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 20px hwb(from var(--accent1) h w b / 0.3);
    border: groove   #ffffff4b;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(2*var(--padding));
    width: calc(2*var(--padding));
    background: var(--accent1);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.312);
}