body, html {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-box input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.items, .selected-items {
    border: 1px solid #ccc;
    width: 300px;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #f9f9f9;
}

.item, .selected-item {
    padding: 5px 10px;
    background: #e0e0e0;
    cursor: pointer;
}

.selected-item {
    background: #aad8d3;
    cursor: move; /* Indicates that items can be moved */
    transition: transform 0.3s ease;
}

.selected-item.dragging {
    opacity: 0.8;
    transform: scale(1.1);
    filter: brightness(1.1)
}

.selected-item.over {
    background: #c2e0e0;
}
