

.key.white {
  background-color: #ffffff;
  border-radius: 0 0 0.3vw 0.3vw;
  margin: 2px;
  cursor: pointer;
  z-index: 1;
}

.key.black {
  background-color: #000000;
  border-radius: 0 0 0.3vw 0.3vw;
  cursor: pointer;
  z-index: 2;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.39);

}

.key:hover {
  filter: invert(0.1);
}

.black.key.selectedKey {
  background-color: #906e11;

}

.white.key.selectedKey {
  background-color: #ffbb00;
}